@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --profile-light: #262631;
  --profile-dark: #20202a;
  --icons-color: #717177;
  --icons-hover: #f7bb09;
  --text-bold: #f7f6ff;
  --text-light: #888890;
  --main-dark: #24242e;
  --main-light: #2b2b38;
  --card-text: #30303c;
  --body-color: #191923;
  --sm: 14px;
  --md: 16px;
  --lg: 22px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--md);
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--body-color);
  color: var(--text-light);
  margin: 0;
  padding: 0;
}

/* nav */
nav {
  background-color: var(--profile-dark);
  height: 52px;
  display: flex;
  justify-content: right;
  /* border-bottom: 1px solid var(--profile-light); */
}

/* nav .burguer-button-container {
  /* background-color: var(--main-light); 
} */

nav .burguer-button-container:hover {
  background-color: var(--icons-hover);
}

nav .burguer-button {
  width: 24px;
  height: 24px;
  margin: 12px;
  cursor: pointer;
}

nav .menu-options.active {
  position: absolute;
  top: 52px;
  right: 0;
  background-color: var(--profile-dark);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
  flex: 1 1 100%;
  display: flex;
}

nav .menu-options {
  display: none;
}

nav .menu-options ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  height: 100%;
  /* Separar los elementos */
  margin: 0;
  padding: 0;
  border-top: #888890 solid 1px;
}

nav .menu-options ul li {
  margin: 12px;
}

nav .menu-options ul li a {
  text-decoration: none;
  color: var(--text-light);
  font-size: var(--lg);
  margin: 12px;
  padding: 12px;
  width: 100%;
  height: 100%;
  text-align: center;
}

nav .menu-options ul li a:hover {
  color: var(--icons-hover);
  cursor: pointer;
}

/* main */

main {
  background-color: var(--main-light);
  width: 100%;
  /* height: 100vh; */
}

/* # card-profile */

.card-profile {
  margin: 12px;
  padding: 12px;
  margin-top: 0;
}

/* ## profile-container */

.card-profile .profile-container {
  background-color: var(--profile-light);
  display: grid;
  place-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-radius: 1px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.card-profile .profile-container img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  justify-self: center;
  margin: 12px;
}

.card-profile .profile-container h1 {
  color: var(--text-bold);
  font-size: var(--lg);
  margin: 0;
  padding: 0;
}

.card-profile .profile-container h2 {
  color: var(--text-light);
  font-size: var(--md);
  margin: 4px;
  padding: 0;
}

.card-profile .profile-container p {
  color: var(--text-light);
  margin: 16px 0 40px 0;
  padding: 0;
  max-width: 300px;
  line-height: 24px;
}

/* ### profile-button --- now this button is Display: none*/
.card-profile .profile-button {
  position: absolute;
  left: calc(50% - 70px);
  top: 50%;
  margin-top: 134px;
  padding: 10px;
  width: 140px;
  height: 40px;
  border-radius: 13px;
  border: none;
  background-color: var(--text-bold);
  color: var(--body-color);
  font-size: var(--md);
  box-shadow: 5px 6px 19px rgb(0 0 0 / 16%);
  /* display: none; */
}


.card-profile .profile-button:hover {
  background-color: var(--icons-hover);
  cursor: pointer;
}

/* ## info-container */

.card-profile .info-container.active {
  background-color: var(--profile-dark);
  display: grid;
  grid-template-rows: auto auto auto;
  place-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-radius: 1px;
  box-shadow: inset 0px 0px 15px -3px #000000;
  padding-bottom: 24px;
}

.card-profile .info-container{
  display: none;
}

/* ### meta-data */

.card-profile .info-container .meta-data {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 20px;
  width: 100%;
  margin-left: 28px;
  margin-right: 28px;
}

.card-profile .info-container .meta-data p {
  margin: 12px;
}

.card-profile .info-container .meta-data .clave {
  justify-self: left;
  text-align: left;
  color: var(--text-bold);
}

.card-profile .info-container .meta-data .value {
  justify-self: right;
  text-align: right;
}

/* ### skills */

.card-profile .info-container .skills {
  display: grid;
  margin-top: 20px;
  width: 100%;
  margin-left: 28px;
  margin-right: 28px;
}

.card-profile .info-container .skills h1 {
  color: var(--text-bold);
  font-size: var(--md);
  margin: 0;
  font-weight: normal;
}

.card-profile .info-container .skills .skills-icons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 12px;
  width: 100%;
  justify-content: space-around;
}

.card-profile .info-container .skills .skills-icons img {
  width: 40px;
  height: 40px;
  margin: 4px;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin-bottom: 12px;
}

.card-profile .info-container .skills .skills-icons img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* ### cv */

.card-profile .info-container .cv {
  display: grid;
  margin-top: 20px;
  width: 100%;
  margin-left: 28px;
  margin-right: 28px;
}

.card-profile .info-container .cv h1 {
  color: var(--text-bold);
  font-size: var(--md);
  margin: 0;
  font-weight: normal;
  margin: 12px 0;
}

.card-profile .info-container .cv a {
  height: 24px;
  color: var(--text-light);
  text-decoration: none;
  font-size: var(--md);
  font-weight: bold;
  margin: 0 24px;
  border-radius: 4px;
}

.card-profile .info-container .cv span {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 10px;
  background-image: url("../assets/icons/download.svg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card-profile .info-container .cv a:hover {
  cursor: pointer;
  transform: translateY(-2px);
  color: #f7bb09;
}

.card-profile .social-container.active {
  background-color: var(--profile-light);
  display: grid;
  grid-template-columns: auto auto auto;
  place-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-radius: 1px;
  justify-content: space-evenly;
}

.card-profile .social-container{
  display: none;
}

.card-profile .social-container img {
  width: 28px;
  height: 28px;
  margin-top: 12px;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin-bottom: 12px;
}

.card-profile .social-container img:hover {
  cursor: pointer;
  /*efecto de sobresalir*/
  transform: scale(1.2);
}

/* #Main container */

.main-container {
  background-image: url("../assets/icons/background-image.svg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center;
  background-color: var(--main-dark);
}

.main-container h1 {
  color: var(--text-bold);
  font-size: var(--lg);
  margin: 24px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.presentation-letter-container p {
  color: var(--text-light);
  font-size: var(--md);
  margin: 24px;
  margin-bottom: 24px;
  font-weight: normal;
  background-color: var(--card-text);
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 1px 19px -2px rgba(0, 0, 0, 0.75);
  line-height: 24px;
}

.main-container p span {
  color: var(--icons-hover);
  font-weight: bold;
  /*Aumentar el tamaño de la letra*/
  font-size: var(--lg);
}

.last-projects-container .carrusel {
  margin: auto;
  max-width: 120em;
  overflow-x: hidden;
}

.last-projects-container .carrusel .projects {
  width: 300%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.last-projects-container .carrusel .projects .project {
  width: 33.33%;
  display: grid;
  place-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 0 24px;
  background-color: var(--card-text);
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0px 1px 19px -2px rgba(0, 0, 0, 0.75);
  margin-top: 24px;
}

.last-projects-container .carrusel .projects .project:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0px 1px 19px -2px rgba(177, 143, 33, 0.75);
}

.last-projects-container .carrusel .projects .project h2 {
  color: var(--text-bold);
  font-size: var(--md);
  margin-bottom: 12px;
  font-weight: bold;
}

.last-projects-container .carrusel .projects .project img {
  width: 90%;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center;
  border-radius: 4px;
  box-shadow: 0px 1px 19px -2px rgba(0, 0, 0, 0.75);
}

.last-projects-container .carrusel .projects .project p {
  color: var(--text-light);
  font-size: var(--md);
  margin: 0;
  font-weight: normal;
  margin-top: 8px;
  line-height: 24px;
}

.last-projects-container .carrusel .puntos {
  width: 100%;
  padding: 0 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.last-projects-container .carrusel .puntos .punto {
  width: 1em;
  height: 1em;
  background-color: var(--text-light);
  border-radius: 50%;
  margin: 12px 12px 20px 12px;
  display: inline-block;
  cursor: pointer;
}

.last-projects-container .carrusel .puntos .punto.active {
  background-color: var(--icons-hover);
}

footer a {
  color: var(--icons-hover);
  font-size: var(--md);
  margin: 0;
  font-weight: initial;
  margin-top: 8px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

/* # media queries */
@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 12px;
    padding-bottom: 12px;
  }
  /* indicar que el nav va en la segunda columna */
  nav {
    grid-column: 2;
    grid-row: 1;
    margin-left: 12px;
    margin-top: 12px;
    height: 97.35%;
  }
  main {
    margin: 12px 12px 12px 12px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .card-profile {
    padding-top: 12px;
    padding-left: 0px;
  }
  .card-profile .profile-container img{
    width: 117px;
    height: 117px;
  }

  .card-profile .profile-container h1 {
    font-size: var(--mg);
  }
  .card-profile .profile-container h2,p {
    font-size: var(--sm);
  }

  .card-profile .profile-button {
    display: none;
  }



}
